
{% extends 'layout.html' %}
{% load static %}


{% block body %}
<body class="index-page">



  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1>Welcome to Soko Yetu – Your Marketplace, Your Community</h1>
            <p>At Soko Yetu, we bring you closer to the products you love, with the convenience of shopping from home. Whether you're looking for fashion, electronics, home goods, or unique local items, we’ve got something for everyone.</p>
            <div class="d-flex">
              <a href="/purchase/" class="btn-get-started">Get Started</a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img src="{% static 'assets/img/home/pic1.jpg' %} " class="img-fluid animated" alt="">
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Products </h2>
        <p>Browse through our categories and find exactly what you're looking for—quality, style, and value are just a click away.</p>
      </div><!-- End Section Title -->

      <div class="container">

        {% for product, range, nSlides in allProds %}

<div class="container">

<h3 class="my-3 text-center text-success bg-light"> {{product.0.category}} Flashsale</h3>
</div>
<div class="container">
<div class="row">


{% for i in product %}
  <div class="col-md-3 mt-3">
 
 <img src='/media/{{i.image}}' class="card-img-top" alt="...">
   <div class="card-body">
    <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h5>
     <p class="card-text">{{i.desc|slice:"0:25"}}...</p>
    <h6 class="card-title">Price:<span id="pricepr{{i.id}}">{{i.price}}</span></h6>
     <span id="divpr{{i.id}}" class="divpr">
     <button id="pr{{i.id}}" class="btn btn-success cart btn-sm mt-0">AddToCart</button>
       </span>

      <a href="/media/{{i.image}}"> <button  class="btn btn-success btn-sm cart ">View</button></a>                     
                         </div>
                                </div>
                            
                  
                        
                     {% endfor %}
                     </div>
                    </div>

    {% endfor %}

      </div>

    </section><!-- /About Section -->

    

    


    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>We’d love to hear from you!  Reach out to us using the contact form below, or connect with us through our social media channels. Your satisfaction is our priority!</p>
      </div><!-- End Section Title -->

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-5">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>00100 ,GPO , Nairobi Kenya</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+254758396075</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>soko.yetu@gmail.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>


          {% for message in messages %}

<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong></strong>{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% endfor %}
          <div class="col-lg-7">
            <form action="/contact/" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="500">
              {% csrf_token %}
             
              <div class="row gy-4">
               
                <div class="col-md-6">
                  <input type="text" name="name" class="form-control"  placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" value="{{user.email}}" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="number" class="form-control" name="phone" placeholder="phone Number" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="desc" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>
  
</body>

{% endblock %}

